/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

/*button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #c8c8c8;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  /*width: 33%;*/
  background: transparent;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  transition: all, 300ms;
}*/
/*button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: gainsboro;
  color: white;*/
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  height: 15em;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.skill-lockup .skill-icons.skill-1 span:nth-child(n+2), .skill-lockup .skill-icons.skill-2 span:nth-child(n+3), .skill-lockup .skill-icons.skill-3 span:nth-child(n+4), .skill-lockup .skill-icons.skill-4 span:nth-child(n+5), .skill-lockup .skill-icons.skill-5 span:nth-child(n+6), .skill-lockup .skill-icons.skill-6 span:nth-child(n+7), .skill-lockup .skill-icons.skill-7 span:nth-child(n+8), .skill-lockup .skill-icons.skill-8 span:nth-child(n+9), .skill-lockup .skill-icons.skill-9 span:nth-child(n+10), .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
  background: #cccccc;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #545454;
  text-align: center;
  padding: 100px 0 40px;
}

.thumb-container .thumb-unit {
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.thumb-container .thumb-unit:hover .thumb-overlay, .clients-belt .client-unit.active-client {
  -webkit-animation: animation 1500ms linear both;
  animation: animation 1500ms linear both;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.347826% {
    -webkit-transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  8.695652% {
    -webkit-transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  13.043478% {
    -webkit-transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  17.391304% {
    -webkit-transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  21.73913% {
    -webkit-transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  26.086957% {
    -webkit-transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  30.434783% {
    -webkit-transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  34.782609% {
    -webkit-transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  39.130435% {
    -webkit-transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  43.478261% {
    -webkit-transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  47.826087% {
    -webkit-transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.173913% {
    -webkit-transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  56.521739% {
    -webkit-transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  60.869565% {
    -webkit-transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  65.217391% {
    -webkit-transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  69.565217% {
    -webkit-transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  73.913043% {
    -webkit-transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  78.26087% {
    -webkit-transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  82.608696% {
    -webkit-transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  86.956522% {
    -webkit-transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  91.304348% {
    -webkit-transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  95.652174% {
    -webkit-transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.347826% {
    -webkit-transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  8.695652% {
    -webkit-transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  13.043478% {
    -webkit-transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  17.391304% {
    -webkit-transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  21.73913% {
    -webkit-transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  26.086957% {
    -webkit-transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  30.434783% {
    -webkit-transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  34.782609% {
    -webkit-transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  39.130435% {
    -webkit-transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  43.478261% {
    -webkit-transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  47.826087% {
    -webkit-transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.173913% {
    -webkit-transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  56.521739% {
    -webkit-transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  60.869565% {
    -webkit-transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  65.217391% {
    -webkit-transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  69.565217% {
    -webkit-transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  73.913043% {
    -webkit-transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  78.26087% {
    -webkit-transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  82.608696% {
    -webkit-transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  86.956522% {
    -webkit-transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  91.304348% {
    -webkit-transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  95.652174% {
    -webkit-transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }

  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }

  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }

  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }

  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }

  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }

  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
body {
  font-family: 'Raleway', sans-serif;
  color: #545454;
}

header {
  background-size: cover;
  background-position-y: 100%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  padding-bottom: 18%;
}

.logo {
  float: left;
  margin: 30px 0 0 30px;
  text-decoration: none;
  color: white;
  font-size: 1.875rem;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

nav {
  float: right;
  padding: 30px 30px 0 0;
}

nav a {
  display: inline-block;
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #080808;
  letter-spacing: .5em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 160px;
}

.artist {
  display: inline-block;
  padding: .2em .5em;
  border: 2px solid white;
}

.kicker {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #080808;
  letter-spacing: .5rem;
  color: white;
  line-height: 1;
}

@media (max-width: 640px) {
  .logo {
    margin-left: 259px;
    font-size: 1.5625rem;
  }

  nav {
    float: none;
    text-align: center;
    padding-top: 80px;
  }
  nav a {
    font-size: 1.125rem;
    margin-right: -17px;
  }

  h1 {
    padding-top: 0px;
    font-size: 2.1875rem;
  }

  .kicker {
    font-size: 0.875rem;
  }

  h3 {
    padding: 50px 0 40px;
    font-size: 1rem;
  }

  .skill-lockup {
    position: relative;
    top: -90px;
    left: 191px;
  }
}
/* 3D rolling links*/
.nav-effect a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.nav-effect > a {
  position: relative;
  right: -150px;
  top: 20px;
}

@media (max-width: 750px) {
  .nav-effect img {
  	position: relative;
  	right: 27px;
		top: 55px;
  }
}

.nav-effect a span {
  position: relative;
  display: inline-block;
  /*background: #9b59b6;*/
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav-effect a span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  color: white;
  /*background: #0965a0;*/
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-86deg);
  -moz-transform: rotateX(-86deg);
  -ms-transform: rotateX(-86deg);
  -o-transform: rotateX(-86deg);
  transform: rotateX(-86deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.nav-effect a:hover span,
.nav-effect a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  -ms-transform: rotateX(90deg) translateY(-22px);
  -o-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.nav-effect a:hover span::before,
.nav-effect a:focus span::before {
  color: white;
}

/* Personality / About */
@media screen and (max-width: 400px) {
  h3 {
    padding: 50px 0 50px;
  }
}
.face-lockup {
  /*max-width: 1200px;*/
  margin: 0 0 0 85px;
  /*display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;*/
  /*position: relative;*/
  /*flex-wrap: wrap;*/
}
@media (max-width: 750px) {
  .face-lockup {
		margin: 0px;
  }
}
/*.icon {
  margin: 10px;
}*/

strong {
  color: rgb(44, 62, 80);
  font-weight: 600;
}

.face-img {
  position: relative;
  right: 6px;
  top: 8px;
  background: url(../img/about/new--photo.jpg) no-repeat;
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
  -webkit-order: 3;
  -moz-order: 3;
  order: 3;
  -ms-flex-order: 3;
  height: 143px;
  border-radius: 50%;
  margin-right: 94px;
  max-width: 143px;
}

/*.icon-mouse {
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  -ms-flex-order: 2;
}

.icon-pencil {
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
  -ms-flex-order: 1;
}

.icon-browser {
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  box-ordinal-group: 4;
  -webkit-order: 4;
  -moz-order: 4;
  order: 4;
  -ms-flex-order: 4;
}

.icon-video {
  flex: 1;
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  box-ordinal-group: 5;
  -webkit-order: 5;
  -moz-order: 5;
  order: 5;
  -ms-flex-order: 5;
}*/

/*.icon-mouse, .icon-pencil, .icon-browser, .icon-video {
  position: relative;
  top: 25px;
  height: 126px;
  width: 0px;
  /*margin: 48px;*/
  /*border-radius: 50%*/
  /*background: #666;*/
}*/

/*.svg:hover .svg-fill {
  fill: #181818;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 40px;
}*/

#Layer_1 {
  position: absolute;
  top: 496px;
  right: 96px;
  z-index: 1;
}
#Layer_2 {
  position: absolute;
  top: 276px;
  left: 40px;
  z-index: 1;
}

/*.about_me{
  height: 709px;
  clear: right;
  width: 95px;
}*/
.my_photo{
  position: relative;
  left: 39px;
  height: 343px;
  background: url(../img/about_me/xan_bikini_one.jpg)top center no-repeat;
  bottom: 2px;
}
@media (max-width: 750px) {
  .my_photo {
		left: 4px;
		width: 351px;
		margin-bottom: 5px;
  }
}
.my_photo_one{
  position: relative;
  left: -28px;
  height: 350px;
  background: url(../img/about_me/xan.jpg)top center no-repeat;
  bottom: 2.5px;
}
@media (max-width: 750px) {
  .my_photo_one {
		left: 5px;
		width: 350px;
		margin-bottom: -11px;
  }
}
.blurb {
  width: 704px;
  height: 385px;
  /*padding: 0 15px;*/
  margin: 50px auto;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 300;
  background: url(../img/about_me/selfie_four_maybe_one.jpg)top center no-repeat;
  background-size: cover;
  position: relative;
  right: -75px;
  top: -57px;
}
@media (max-width: 750px) {
  .blurb {
		width: 350px;
		right: -5px;
		top: -46px;
  }
/*.blurb a {
  text-decoration: none;
  color: #c8c8c8;
}

.blurb a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.blurb a span {
  position: relative;
  display: inline-block;
  /*background: #9b59b6;*/
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.blurb a:hover span, .blurb a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  -ms-transform: rotateX(90deg) translateY(-22px);
  -o-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.blurb a:hover span::before,
.blurb a:focus span::before {
  color: #cccccc;
}

.blurb a span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  color: #cccccc;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}*/

@media screen and (max-width: 640px) {
  .face-lockup {
    display: block;
  }

  .icon {
    display: inline-block;
    width: 100px;
    text-align: center;
  }

  .face-img {
    position: relative;
    display: block;
    left: 120px;
    margin-bottom: 20px;
    height: 131px;
    width: 130px;
  }

  [class$='video'] {
    position: relative;
    top: -30px;
  }

  [class$='browser'] {
    position: relative;
    top: -30px;
  }
}
.skill-lockup {
  max-width: 700px;
  margin: 100px auto;
  color: #999999;
  margin-right: 19%;
}

.skill-unit {
  width: 350px;
  float: left;
}

.skill-icons {
  font-size: 0;
  margin: 0 0 30px;
  margin-top: 2px;
}

.skill-icons span {
  display: inline-block;
  background: #545454;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  border-radius: 50%;
}

.skill-icons span:after {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  background: white;
  border-radius: 50%;
  margin: 1px;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen and (max-width: 541px) {
  .skill-lockup {
    width: 270px;
    text-align: center;
  }
}
/* Work */
.alt-section {
 /* background: rgba(44, 62, 80, .1);*/
}

.section-work {
  /*overflow-X: hidden;*/
  margin-top: -350px;
}
@media (max-width: 750px) {
  .section-work {
		margin-top: -438px;
		margin-bottom: 1137px;
  }
}

.work-belt {
  width: 200%;
  background: #181818;
  position: relative;
  left: 0%;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  transition: all 800ms;
}

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left;
}

.thumb-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.thumb-container:after {
  content: "";
  display: table;
  clear: both;
}
.thumb-container .thumb-unit {
  position: relative;
  display: block;
  float: left;
  padding-top: 18%;
  overflow: hidden;
  cursor: pointer;
  -webkit-perspective: 300;
  -moz-perspective: 300;
  perspective: 300;
}
@media screen and (max-width: 760px) {
  .thumb-container .thumb-unit {
    width: 50%;
    padding-top: 26%;
  }
}
.thumb-container .thumb-unit .thumb-overlay {
  height: 100%;
  background: rgba(84, 84, 84, 0.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 300ms, ease-in, 500ms;
  -moz-transition: opacity 300ms, ease-in, 500ms;
  transition: opacity 300ms, ease-in, 500ms;
  position: absolute;
  top: 0%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
  -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -o-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.thumb-container .thumb-unit .thumb-overlay strong {
  display: block;
  padding: 0 20px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.2;
}
.thumb-container .thumb-unit:hover .thumb-overlay {
  opacity: 1;
}

.thumb-one {
  background: url(../img/thumb-one.jpg);
}

.thumb-two {
  background: url(../img/work/thumb-two.jpg);
}

.thumb-three {
  background: url(../img/work/thumb-three.jpg);
}

.thumb-four {
  background: url(../img/work/thumb-four.jpg);
}

.thumb-five {
  background: url(../img/work/thumb-five.jpg);
}

.thumb-six {
  background: url(../img/work/thumb-six.jpg);
}

.thumb-seven {
  background: url(../img/work/thumb-seven.jpg);
}

.thumb-eight {
  background: url(../img/work/thumb-eight.jpg);
}

.zoom-icon {
  background: url(../img/work/magnify-glass.png) no-repeat;
  background-position: center center;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 70%;
  right: 40%;
  margin: 0 auto;
}

.work-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  display: none;
}
.work-container h4 {
  color: #545454;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.work-container img {
  max-width: 100%;
  margin-bottom: 20px;
}

.work-return {
  background: url(../img/work/back-btn-one.png) no-repeat;
  height: 66px;
  width: 66px;
  cursor: pointer;
  position: absolute;
  top: -4px;
  right: 580px;
}

@media (max-width: 740px) {
  .work-container .work-return {
    left: 0px;
  }

  h4 {
    margin-left: 60px;
  }
}
.proj-one {
  background: url(../img/proj-one/img1.jpg) no-repeat;
  height: 300px;
  margin-bottom: 30px;
}

.proj-two {
  background: url(../img/proj-one/img2.jpg) no-repeat;
  height: 300px;
  margin-bottom: 30px;
}

.proj-three {
  background: url(../img/proj-one/img3.jpg) no-repeat;
  height: 300px;
  margin-bottom: 30px;
}

.proj-four {
  background: url(../img/proj-one/img4.jpg) no-repeat;
  height: 300px;
  margin-bottom: 30px;
}

.proj-five {
  background: url(../img/proj-one/img5.jpg) no-repeat;
  height: 300px;
  margin-bottom: 30px;
}

/* clients */
.section-clients {
  position: relative;
}
@media (max-width: 750px) {
  .section-clients {
		top: -19px;
  }
}

.clients-belt {
  width: 100%;
  position: relative;
}
.clients-belt .client-unit {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
.clients-belt .client-unit.active-client {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.col-lg-8{
	float: none!important;
}
.clients-belt .client-unit .client-face {
  min-width: 300px;
  text-align: center;
}
.clients-belt .client-unit .client-face img {
  /*max-width: 100px;*/
  /*border-radius: 50%;*/
}
.clients-belt .client-unit .client-face .client-name {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'handlee';

}
.clients-belt .client-unit .client-face .client-title {
  font-style: normal;
  font-size: 0.875rem;
  color: rgb(44, 62, 80);
  font-family: 'handlee';
}
.clients-belt .client-unit .client-content {
  position: relative;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(44, 62, 80);
  margin-top: 1px;
  margin-left: 150px;
}
@media (max-width: 750px) {
  .clients-belt .client-unit .client-content {
		left: 4px;
		width: 351px;
		margin-bottom: 5px;
  }
}
p {
  color: rgb(44, 62, 80);
  font-family: 'handlee';
  font-size: 17px;
}

/* client logos */
.clients-logo {
  position: relative;
  max-width: 750px;
  margin: 50px auto 100px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
}
.clients-logo .client-logo {
  width: 148px;
  height: 80px;
  max-width: 200px;
  background-size: contain;
  background-position: center bottom;
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  opacity: .5;
}
.clients-logo .client-logo.active-client {
  border-bottom: 2px solid #1b1b1b;
  -webkit-transition: all 900ms;
  -moz-transition: all 900ms;
  transition: all 900ms;
  opacity: 1;
}

.logo-one {
  background: url(../img/interview/diario_para_logo.png) no-repeat;
}

.logo-two {
  background: url(../img/interview/rbatv_logo.png) no-repeat;
}

.logo-three {
  background: url(../img/interview/wave_logo.png) no-repeat;
}

.logo-four {
  background: url(../img/interview/rideit_logo.png) no-repeat;
}

.client-quote-mark {
  position: absolute;
  top: -12px;
  left: -50px;
  z-index: -1;
  opacity: 0.3;
}
.client-quote-mark path {
  fill: #F39C12;
}
.quote_xan_one{
  position: absolute;
  top: -12px;
  /* left: 50px; */
  z-index: 1;
  color: rgb(44, 62, 80);
}
.quote_xan_one path {
  fill: rgb(44, 62, 80);
}
@media (max-width: 750px) {
  .quote_xan_one {
		left: -1px;
  }
 }
.xan_sobre_mim{
  color: rgb(44, 62, 80);
  font-family: 'Handlee', Helvetica, Arial, sans-serif;
  font-size: 20px;
  /*padding: 10px;*/
  margin: 0 -55px 0 -12px;
}
@media (max-width: 750px) {
  .xan_sobre_mim {
		max-width: 571px;
		padding: 0 154px 0 6px;
		font-size: 16px;
		margin: 0 -164px 0 -12px;
  }
 }
.xan_header{
  color: rgb(243, 156, 18)
}
.client-controls {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.client-controls .clients-control > div {
  height: 40px;
  width: 40px;
  margin-top: -20px;
}
.client-controls .client-control-next{
  position: absolute;
  top: 49px;
  right: 35px;
  cursor: pointer;
}
.client-controls .client-control-prev {
  /*background: url(../img/arrow_right_dark.png) no-repeat;*/
  position: absolute;
  top: 220px;
  left: 50px;
  cursor: pointer;
}
.client-control-next img {
  position: relative;
  top: 400px;
  position: relative;
  top: 200px;
  left: 1208px;
}

.control:hover .control-fill {
  fill: #181818;
  cursor: pointer;
}

/* Clients Mobile Nav */
/*.clients-mobile-nav{
	text-align: center;
	display: none;
	
	span{
		cursor: pointer;
		display: inline-block;
		@include size(16px);
		border-radius: $br--round;
		border: 1px solid $silver;
		margin: 0 10px;	
		
		&.active-client{
			border-color: $cod-gray;
		}
	}
}

@media (max-width: 750px){
	.client-controls{
		display: none;
	}
	.clients-belt{
		
		.client-unit.active-client{
			display: block;
			position: relative;
			margin-left: 0px;
			left: auto;
			
			.client-face{
				margin-bottom: 20px;
			}
			.client-content{
				padding: 0 30px;	
				max-width: 400px;
				margin: 0 auto;
			}
			.client-quote-mark{
				top: -10px;
				left: 15px;
			}
		}
	//.clients-logo{
	//	display: none;
	//	}
	//.clients-mobile-nav{
	//	display: block;
	//	}
	}
}*/
/* Contact */
.section-contact {
  text-align: center;
  height: 580px;
  background: rgba(44, 62, 80, .1);
}
@media (max-width: 750px) {
  .section-contact {
		height: 863px;
		margin-top:2995px;
  }
}
.social-links {
  max-width: 700px;
  margin: 0px auto 50px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 750px) {
  .social-links {
		margin: 0 0 0 100px;
  }
}
.social-links a {
  display: block;
  /*border: 2px solid #575757;*/
  /*border-radius: 50%;*/
  margin: 20px;
  line-height: 80px;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  transition: all, 500ms;
  height: 80px;
  width: 80px;
}
.social_links {
  position: relative;
  left: -89px;
}
@media (max-width: 750px){.social_links {
  left: -1px;
	}
}
.social-links .xan_email a{
	width: 736px;
}
@media (max-width: 750px) {
  .social-links .xan_email a {
		right: 274px;
		position: relative;
		font-size: 29px!important;
  }
}
.social {
  position: relative;
  top: 14px;
  left: 0px;
}
.social:hover {
  fill: #c8c8c8;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.xan_email {
  position: relative;
  top: 20px;
  right: 48px;
 }
 a.jnr_email {
  position: relative;
  top: 118px;
  font-size: 16px!important;
  color: #fff;
  right: 453px;
}
a.jnr_email:hover {
  color: rgb(243, 156, 18);
  border-bottom: solid 1px;
  transition: all, 500ms;
}
 @media (max-width: 750px) {
  .jnr_email {
		position: relative;
		top: 560px;
		color: #fff;
		font-size: 14px!important;
		left: -33px;
  }
}
.bar {
  width: 250px;
  height: 0px;
  border: 1px solid rgb(44, 62, 80);
  /*margin: 0px auto 50px;*/
  position: relative;
  top: 20px;
}
@media (max-width: 750px) {
  .bar {
		right: 66px;
		width: 258px;
  }
}

[href^='mailto'] {
  font-size: 62px !important;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Handlee';
  color: #2f2f2f;
  line-height: 1;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  transition: all, 500ms;
}

@media (max-width: 750px) {
  #lockup .jnr_email {
		position: relative;
		top: 560px;
		color: #fff;
		font-size: 14px!important;
		left: -33px;
  }
}
[href^='mailto']:hover {
  color: rgba(44,62,80,.3);
  border-bottom: solid 3px;
}

/* Forms */
.section-form {
  height: 646px;
}

form {
  max-width: 550px;
  margin: 0 auto 50px;
}
form input, form textarea {
  border: 1px solid #c8c8c8;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: #c8c8c8;
}
form input .submit-wrap, form textarea .submit-wrap {
  text-align: right;
}
form input:focus, form textarea:focus {
  outline: none;
  border-color: #999999;
  box-shadow: 0 0 1px #c5c5c5;
}
form .contact-info-group input {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #c8c8c8;
}
form .contact-info-group input:nth-child(1) {
  padding-right: 10px;
  width: 272px;
  margin-right: 8px;
}
form .contact-info-group input:nth-child(2) {
  padding-left: 10px;
  width: 270px;
}
form .contact-info-group:nth-child(1) {
  color: #c8c8c8;
}
form input {
  display: block;
  margin-bottom: 10px;
}

/* Footer */
footer {
  height: 200px;
  width: 100%;
  background: url(../img/footer/ipanema_better.jpg) center center;
  background-size: cover;
  background-position-y: 52%;
}
@media (max-width: 750px) {
  footer {
		height: 641px;
  }
}

.lockup {
  margin: 30px;
}

#lockup .logo {
  float: left;
  margin: 80px 20px 0px 20px;
  font-size: 1.25rem;
  color: white;
  font-weight: 200;

}

.content-wrap nav {
  float: left;
  text-decoration: none;
  margin-top: 74px;
}

.content-wrap nav a {
  color: white;
  font-size: 20px;
  font-family: 'Handlee';
  text-transform: lowercase;
}

.content-wrap nav a:hover {
  color: white;
}

a.copyright {
  position: relative;
  /*clear: both;*/
  top: 104px;
  right: 453px;
  /*font-weight: 200;*/
  color: white;
  /*margin-left: 40px;
  padding-top: 20px;*/
  font-family: 'Handlee';
  font-size: 16px !important;
}
a.copyright:hover {
  color: rgb(243, 156, 18);
  border-bottom: solid 1px;
}
[class^="rodape"]{
  float: right;
  color: #fff;
  font-size: 12px;
  font-family: 'Handlee';
  position: relative;
  right: 10px;
  top: 70px;
  line-height: 1.2 !important;
  transition: all, 500ms;
  border-bottom: solid 1px;
}
@media (max-width: 750px) {
  a.rodape {
		top: 512px;
  }
}

.rodape:hover, .rodape:focus{
  color: rgb(243, 156, 18);
  border-bottom: solid 1px;
  transition: all, 500ms;
}


/*# sourceMappingURL=style.css.map */

/* styles unrelated to zoom */


/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
  background:url(icon.png);
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

#ex2 img:hover { cursor: url(../img/icons/grab.cur), default; }
#ex2 img:active { cursor: url(../img/icons/grabbed.cur), default; }

.tooltip-inner{color:rgb(243, 156, 18);background-color:rgb(44, 62, 80);font-family:'Handlee';font-size:16px;
}
.tooltip.top .tooltip-arrow{border-top-color:rgb(44, 62, 80)}
.tooltip.top-left .tooltip-arrow{border-top-color:rgb(44, 62, 80)}
.tooltip.bottom .tooltip-arrow{border-bottom-color:rgb(44, 62, 80)}
.tooltip.bottom-left .tooltip-arrow{border-bottom-color:rgb(44, 62, 80)}
.tooltip.left .tooltip-arrow{border-left-color:rgb(44, 62, 80)}
.tooltip.bottom .tooltip-arrow{border-width:0 5px 5px;border-bottom-color:rgb(44, 62, 80)}


a:hover, a:focus {
  text-decoration: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; 
}
.carousel-control.left{
	background-image: none;	
	background: url(../img/icons/arrow_left_more_little.png)center no-repeat;
}
.carousel-control.right{
	background-image: none;
	background: url(../img/icons/arrow_right_more_little.png)center no-repeat;
}
.navbar-toggle .icon-bar {
  width: 25px;
  height: 2px;
  border-radius: 0;
}
@media (max-width: 750px) {
  .navbar-inner li:hover, .navbar-inner li:active, .navbar-inner li:focus, .navbar-inner li:visited {
  background: rgb(243, 156, 18);
  opacity: .8
	}
}
div#begin {
  position: relative;
  top: -499px;
}
.carousel-control {
  bottom: 700px;
}
h3.mobile_one {
  position: relative;
  top: 298px;
  color: #fff;
  left:-295px;
}
p.interview_mbl{
	margin-top: -52px;
	color:#fff;
	width:50%;
	float:right;
}
h2.header_interview{
	position:relative;
	font-family: 'handlee';
	background: #fff;
	top: -160px;
	padding: 2px 0 0 350px;
	height: 58px;
	font-size: 54px;
}
.color{
	background:rgba(44,62,80,.4);
	position: relative;
	top: -130px;
	right: -68px;
}
p.background{
	background:rgba(44,62,80,.4);
	color:#fff;
	height:auto;
	width:50%;
	float:right;
	position:relative;
	top:-154px;
	right:-68px;
	padding:0 2px 0 2px;
}
.date{
	color:rgb(243, 156, 18);
}
p.background strong{
	color: rgb(243, 156, 18);
}
h2.header_interview.center {
  padding-left: 400px;
}
.client-quote-mark.quote_xan {
  /* position: relative; */
  right: -129px;
	color: rgb(243, 156, 18);
  top: -149px;
}