/*------------------------------------------------------------------
[Color codes]
Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
/*- General -*/
body {
	font-family: "Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #f1f0f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.04em;
	font-weight: 300;
	font-style: normal;
	font-family: "Raleway", Sans-serif;
	color: #333;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
}
a {
  color: #4A4A4A;
	transition: all 0.15s linear;
}
a:hover, a:focus, a:active, a.active {
	/*color: #fec503;*/
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
::selection {
	text-shadow: none;
	/*background: #fed136;*/
}
#body-content {
    padding: 70px 0;
}
section {
	padding-bottom: 60px;
}
section:last-child {
	padding-bottom: 0px;
	padding-top: 90px;
}
/*- Reset bootstrap -*/
@media (min-width: 1200px)
.container {
	width: 1260px;
}
.row-gutter {
	margin-left: -20px;
	margin-right: -20px;
}
.col-gutter {
	padding-left: 20px;
	padding-right: 20px;
}
/*.sidebar-gutter {
	padding-left: 50px;
}*/
.navbar .navbar-nav > li > a {
	/*color:#222;*/
	color:#fff;
}
.navbar-default{
	/*background: #fff;*/
	background: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top li {
    position: relative;
    top: 5px;
}
.navbar-default{
	border-color: transparent;/*bootstrap rule*/
}
ul.nav.navbar-nav.navbar-right {
    font-size: 21px;
}
ul.nav.navbar-nav.navbar-left {
    font-size: 16px;
}
header {
	margin: 130px 0 65px;
	text-align: center;
}
/*- BX Slaider reset -*/
.bxslider {
	margin: 0;
	padding: 0;
}
.bx-wrapper .bx-viewport {
	left: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.bx-wrapper .bx-prev {
	border: 1px solid #333;
	background-image: none !important;
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-next {
	border: 1px solid #333;
	background-image: none !important;
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-prev:hover {
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-next:hover {
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 50px;
	height: 50px;
	text-indent: inherit;
	z-index: 99;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.main-slider img {
	position: relative;
}
.main-slider h2 {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.52);
	color: #fff;
	padding: 25px 40px;
	font-size: 32px;
}
.main-slider h2 a {
	color: #fff;
}
.main-slider h2 a:hover {
	color: #dfdfdf;
}
/*- blog post -*/
.blog-post {
	/*padding-bottom: 30px;*/
	background: #fff;
	margin-bottom: 60px;
	/*border-bottom: 1px solid #CECECE;*/
	box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.07);
	border: 1px solid #d1d1d1;
}
.blog-post:last-child {
	border-bottom: none;
}
.blog-post .blog-post-body {
	text-align: center;
	/*padding: 20px 0;*/
}
.blog-post .blog-post-body h2 {
	margin: 0;
	/*padding: 15px 0px 20px;*/
	/*font-size: 41px;*/
	font-size: 24px;
	line-height: 49px;
}
.blog-post .blog-post-body p {
	text-align: center;
	/*font-size: 20px;*/
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #333;
	/*padding: 20px;*/
	padding: 25px 40px;
}
.blog-post .blog-post-body a {
	color: #4A4A4A;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.blog-post .blog-post-body a:hover  {
	color: #dddddd;
}
.blog-post .post-meta {
	margin: 5px 0 20px;
	font-weight: 300;
	/*font-size: 16px;*/
	font-size: 14px;
	color: #B1B1B1;
	/*font-family: "Lora";*/
	font-style: italic;
	padding: 23px 0 0 0px;

}
.blog-post .post-meta a {
	color: #B1B1B1;
}
.blog-post .post-meta a:hover {
	color: #fed136;
}
.blog-post .post-meta span {
	padding-left: 15px;
	padding-right: 15px;
}
.blog-post .post-meta span:first-child {
	padding-left: 0;
	padding-right: 15px;
}
.blog-post .post-meta i {
	padding-right: 5px;
	font-size: 12px;
}
.blog-bottom {
    padding: 0 40px;
    position: relative;
}
.pull-left {
    float: left;
}
.social-icons {
    padding: 0;
}
.pull-right {
    float: right;
}
.more-links {
    padding: 0 10px;
    line-height: 52px;
    border-bottom: 1px solid #4f4f4f;
    color: #fe4444;
    display: inline-block;
}
/*.blog-post .read-more a {
	display: inline-block;
	/*padding: 12px 40px;*/
	/*margin: 30px 0 0px;*/
	/*border: 1px solid;*/
	/*border-radius: 3px;*/
	/*border-color: #E6E6E6;*/
	/*background-color: #F3F3F3;*/
	/*font-family: "Open Sans", Sans-serif;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1.7px;*/
	/*-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;*/
	/*padding: 0 10px;
  line-height: 49px;
  border-bottom: 1px solid #4f4f4f;
}*/
.blog-post .read-more a:hover {
	background-color: #fff;
	border-color: #fff;
	color: #333;
}
.blog-post .blog-post-text {
	text-align: left;
}
.blog-post .blog-post-text p {
	text-align: justify;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #333;
	letter-spacing: 0.1px;
	margin-bottom: 30px;
}
.blog-post-image img {
  transition: transform 0.4s ease-out;
}
.blog-post-image img:hover{
	transform: scale(1.1);
}
.blog-post-image{
	overflow: hidden;
}
.blog-text {
    padding: 25px 40px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #f1f0f0;
}
.admin-text {
  font-size: 14px;
	padding-bottom: 25px;
}
.admin-text p{
	padding: 0!important;
}
.admin-text .img-circle {
    margin: 0 auto;
    display: block;
}
/*- Sidebar -*/
.sidebar-title {
	/*background-color: #2B2B2B;*/
	color: #333;
	text-align: center;
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: 0.8px;
	font-size: 18px;
	padding: 15px 0;
	margin: 0 0 25px;
	font-family: "Raleway", Sans-serif;
	border-bottom: 1px solid #f1f0f0;
}
.sidebar-widget {
	margin-bottom: 40px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
	background: #fff;
}
.sidebar-widget li {
	font-size: 17px;
	margin-bottom: 10px;
}
.carrousel li{
	margin-bottom: -24px!important;
}
.car{
	padding: 0 25px 25px 25px;
	margin: 0;
}
.carousel-indicators li{
	background-color: #fff;
}
.carousel-indicators .active{
	width: 10px;
	height: 10px;
}
.carousel-indicators .active{
	background-color: #333;
	border: 1px solid #333;
}
.widget-socials {
	text-align: center;
}
.carousel-indicators .active{
	margin: auto;
}
.inline_v{
	position: relative;
	/*top: -21px;*/
	left: 3%;
}
.tags a {
  margin-right: 5px;
  color: #666;
  padding: 9px;
  background: #efefef;
  display: inline-block;
  margin-bottom: 9px;
}
.tags a:hover {
  color: #FFF;
  background: #333;
}
.widget-socials a {
	margin: 3px 8px;
	padding: 5px;
	font-size: 17px;
	color: #3C3C3C;
	padding: 0 8px 0 0;
	line-height: 52px;
}
.widget-about img {
	max-width: 100%;
	display: block;
  height: auto;
	margin: 0 auto;
}
.social-icons {
    padding: 0;
}
.social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-icons ul li {
    padding: 0 8px 0 0;
    line-height: 52px;
    display: inline-block;
}
.widget-about h4 {
	text-align: center;
	margin: 20px 0 5px;
}
.widget-about .author-title {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color: #B5B5B5;
	text-align: center;
}
.widget-about p {
	margin-top: 10px;
	font-size: 13px;
	line-height: 24px;
	color: #333;
	padding: 0 20px;
	text-align: center;
}
.widget-post {
	display: table;
	/*margin: 0 0 20px 0;*/
	border-bottom: 1px solid;
	border-color: #E4E4E4;
	padding-bottom: 20px;
	width: 100%;
	padding: 25px;
}
.widget-post:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin: 0px;
}
.widget-post .post-image {
	float: left;
	width: 100px;
	vertical-align: middle;
	position: relative;
	margin-right: 20px;
}
.widget-review .post-image {
	width: 70px;
	margin-right: 15px;
}
.widget-post .post-body {
	overflow: hidden;
}
.widget-post h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}
.widget-post h2 a {
	color: #4A4A4A;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.widget-post h2 a:hover {
	color: #969696;
}
.widget-post .post-meta {
	margin-top: 5px;
	font-weight: 400;
	font-size: 11px;
	color: #B1B1B1;
	font-family: "Lora";
	font-style: italic;
}
.widget-post .post-meta span {
	margin-right: 8px;
}
.widget-post .post-meta span a {
	color: #B1B1B1;
}
.section-title {
	margin: 0 0 45px 0;
	border-top: 1px solid #505050;
	font-size: 28px;
	padding-top: 10px;
	font-weight: 300;
	color: #272727;
}
.section-title span {
}

.sidebar-title span {
    padding: 15px 15px;
    position: relative;
}
.social_media{
	padding: 12px 15px!important;
}
.sidebar-title span:after {
    background: #dadada;
    position: absolute;
    top: 100%;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
}
.sidebar-title_icons{
	margin: 0;
}
.apoio_refresh{
	text-align: center;
	padding-bottom: 14px;
}
.xan_insta_widget{
	padding-bottom: 0px;
}
.xan_ins{
	font-size: 16px;
	text-transform: uppercase;
	font-style: normal;
}
.xan_insta{
	float: left;
	clear: both;
	padding: 10px
}
.xan_insta_two{
	display: block;
	padding: 0 0 0 73px;
	font-size: 13px;
	font-style: normal;
}
.xan_insta_three{
	display: block;
	padding: 7px;
}
.xan_insta_two:hover, .xan_insta_three:hover{
	color: #333;
}
.category {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.category .cat-desc {
    display: table;
    font-size: 14px;
}
.category .cat-desc .category-details, .category .cat-desc .category-links {
    white-space: nowrap;
    width: 1%;
}
.category .cat-desc > div {
    display: table-cell;
    width: 100%;
}
.category .cat-desc > div.category-details span {
    padding: 0 5px 0 0;
}
.cat-desc .dots {
    background: url(../img/dots-light.jpg) repeat-x scroll left 13px rgba(0, 0, 0, 0);
    padding: 0 5px;
}
.sidebar-text .category {
    padding: 25px;
    margin: 0;
}
.cat{
	padding: 18px 0;
}
.fit{
	padding: 12px;
	font-weight: bold;
	text-transform: capitalize;
}
.cross{
	height: 218px;
	padding-top: 1px;
}
.fit_cross .fa {
  font-size: 17px;
	color: #211915;
	margin: 0 8px 0 4px
}
span.fit_cross {
  float: left;
  clear: both;
  padding: 4px 0 0 12px;
	color: #211915;
	font-weight: bold;
}
span.fit_sou {
  font-size: 13px;
	font-weight: bold;
}
span.fit_sou:hover{
	color: #211915;
	text-decoration: underline;
}
a.soucross {
  padding-top: 13px;
  display: block;
  position: relative;
  left: 10px;
}
span.sou_cross {
  font-size: 13px;
  padding-right: 38px!important;
	color: #211915;
  display: block;
}
span.sou_cross:hover{
	color: #211915;
}
a.inline_cross {
  position: relative;
  top: -20px;
  left: 76px;
  font-size: 13px;
}
span.mood {
  font-size: 16px;
	letter-spacing: 5.6px;
}
span.mood:hover{
	text-decoration: underline;
	color: #211915;
}
.destaque-vermelho {
    color: #FF0E22;
}
.nopadding {
	padding: 4px !important;
 	/*margin: 4px !important;*/
}
.post_destaque{
	margin: 0 0 3px;
}
.post-date {
  background: #efefef;
	margin: 0 5px 0 0;
  display: inline-block;
  padding: 5px 8px;
}
.text-right {
    text-align: right;
}
.pager li>a, .pager li>span {
    border: 1px solid #d1d1d1;
    border-radius: 0px;
		transition: all .2s ease-in-out;
		box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.07);
}
.pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #333;
		color: #fff;
		transition: all .2s ease-in-out;
}
.pager .prev>a, .pager .prev>span {
    float: left;
}
.pagination-wrap .pagination {
    margin: 0;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination-wrap.text-right .pagination > li > a, .pagination-wrap .pagination > li > span {
    margin: 0 0 0 12px;
}
.pagination-wrap .pagination > li:last-child > a, .pagination-wrap .pagination > li:last-child > span, .pagination-wrap .pagination > li:first-child > a, .pagination-wrap .pagination > li:first-child > span {
    border-radius: 0;
}
.pagination-wrap .pagination > li > a, .pagination-wrap .pagination > li > span {
  padding: 10px 18px;
  border: 1px solid #d1d1d1;
  margin: 0 12px 0 0;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  background: #FFF;
  color: #323232;
  font-size: 16px;
  font-family: "Ubuntu",sans-serif;
  font-weight: 300;
}
.pagination-wrap .pagination > .active > a,
.pagination-wrap .pagination > .active > span,
.pagination-wrap .pagination > .active > a:hover,
.pagination-wrap .pagination > .active > span:hover,
.pagination-wrap .pagination > .active > a:focus,
.pagination-wrap .pagination > .active > span:focus {
    background: #323232;
    color: #FFF;
}
/*- Footer -*/
footer {
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
	border-top: 1px solid #CECECE;
}
footer .footer-socials {
	margin: 60px 0 20px;
}
footer .footer-socials a {
	display: inline-block;
	margin-right: 5px;
	/*background-color: #626165;*/
	color: #333;
	/* padding: 20px; */
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
footer .footer-socials a:hover {
	background-color: #dddddd;
}
footer .footer-bottom {
	padding: 10px 0 40px;
}
.link_effect{
    display: inline-block;
}
.link_effect::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgba(0,0,0,.8);
    margin-top: 8px;
    box-shadow: 1px 1px 1px rgba(51,51,51,.4);
    transition: width .3s;
}
.link_effect:hover::after{
    width: 100%;
    transition: width .3s;
}
.link_effect:focus::after{
    width: 100%;
    transition: width .3s;
    border-radius: 0;
}
.effect::after{
    content: '';
    background-color: rgba(51,51,51,.8);
}
.xan_border_beach{
	/*background: url(../img/xan_beach_shore_two.jpg) center no-repeat;*/
	/*background: url(../img/xan_project_beach.jpg) center no-repeat;*/
	background: url(../img/xan_beach_shore_five_bigger.jpg) center no-repeat;
	background-size: cover;
  height: 686px;
  background-position-y: -43px;
  background-attachment: fixed;
}
.img-circle{
	border-radius: 50%;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 23px;
}
@media only screen and (max-device-width: 736px) and (orientation : portrait){
	.navbar-default{
		background-color: #fff;
	}
	a.navbar-brand.page-scroll {
    position: relative;
    top: -7.2px;
	}
	.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus{
		color: #333;
	}
	.xan_border_beach{
		background-position-y: -1px;
		background-position-x: -305px;
	}
@media only screen and (max-device-width: 736px) and (orientation : landscape){
	.navbar-default{
		background-color: #fff;
	}
	a.navbar-brand.page-scroll {
    position: relative;
    top: -7.2px;
	}
	.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus{
		color: #333;
	}
	.xan_border_beach{
		background-position-y: -1px;
		background-position-x: 0px;
	}
}
